<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ maze.name }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                </ul>
            </nav>
            <h1 class="text-muted">Simple Maze Server</h1>
        </div>
        <div class="jumbotron">
            <h2><a href="http://127.0.0.1:8080/maze/0_0_0">Start here</a></h2>
        </div>
        <footer class="footer">
            <p> Served by {{hostname}}</p>
            <p> &copy; December 2024</p>
        </footer>
    </div>
</body>
</html></title>
</head>
<body>

</body>
</html>