{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="jumbotron-fluid bg-warning" >
    <h2><a href="http://127.0.0.1:8080/maze/{{maze.start_url}}">Start here</a></h2>
    </div>
    <form method="POST" action="/child.html">
    <button type="submit" name="submit_button" value="save_maze">Save Maze</button>
    <button type="submit" name="submit_button" value="load_maze">Load Maze</button>
    </form>
{% endblock %}