{% extends "layout.html" %}
{% block title %}{{ title_text }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="jumbotron-fluid bg-warning">
        <h2><a href="http://{{hostname}}/maze/{{start_url}}">Start here</a></h2>
    </div>
    <form method="POST" action="/start.html" class="btn-group" role="group">
        <button type="submit" class="btn btn-dark" name="submit_button" value="save_maze">Save Maze</button>
        <button type="submit" class="btn btn-info" name="submit_button" value="load_maze">Load Maze</button>
    </form>
{% endblock %}